<h1 class="x-h1">Carousel</h1>

<div class="x-block-full">
    <h2 class="x-h2">The Code:</h2>

    <pre><code>
        &lt;div class="x-demo-carousel" data-widget-type="carousel" style="padding: 0 50px; position: relative;"&gt;
            &lt;button class="left" data-x-role="control:left 1 item"&gt;Left&lt;/button&gt;

            &lt;ul data-x-role="content"&gt;
                &lt;li&gt;&lt;img src="" /&gt;&lt;/li&gt;
                &lt;li&gt;&lt;img src="" /&gt;&lt;/li&gt;
                &lt;li&gt;&lt;img src="" /&gt;&lt;/li&gt;
                &lt;li&gt;&lt;img src="" /&gt;&lt;/li&gt;
                &lt;li&gt;&lt;img src="" /&gt;&lt;/li&gt;
                &lt;li&gt;&lt;img src="" /&gt;&lt;/li&gt;
                &lt;li&gt;&lt;img src="" /&gt;&lt;/li&gt;
                &lt;li&gt;&lt;img src="" /&gt;&lt;/li&gt;
                &lt;li&gt;&lt;img src="" /&gt;&lt;/li&gt;
                &lt;li&gt;&lt;img src="" /&gt;&lt;/li&gt;
                &lt;li&gt;&lt;img src="" /&gt;&lt;/li&gt;
                &lt;li&gt;&lt;img src="" /&gt;&lt;/li&gt;
                &lt;li&gt;&lt;img src="" /&gt;&lt;/li&gt;
                &lt;li&gt;&lt;img src="" /&gt;&lt;/li&gt;
                &lt;li&gt;&lt;img src="" /&gt;&lt;/li&gt;
                &lt;li&gt;&lt;img src="" /&gt;&lt;/li&gt;
                &lt;li&gt;&lt;img src="" /&gt;&lt;/li&gt;
                &lt;li&gt;&lt;img src="" /&gt;&lt;/li&gt;
                &lt;li&gt;&lt;img src="" /&gt;&lt;/li&gt;
                &lt;li&gt;&lt;img src="" /&gt;&lt;/li&gt;
                &lt;li&gt;&lt;img src="" /&gt;&lt;/li&gt;
                &lt;li&gt;&lt;img src="" /&gt;&lt;/li&gt;
                &lt;li&gt;&lt;img src="" /&gt;&lt;/li&gt;
            &lt;/ul&gt;

            &lt;button class="right" data-x-role="control:right 1 item"&gt;Right&lt;/button&gt;
        &lt;/div&gt;
    </code></pre>
</div>


<div class="x-block-full">
    <h2 class="x-h2">The Widget:</h2>

    <div class="x-demo-carousel" data-widget-type="carousel" style="padding: 0 50px; position: relative;">
        <button class="left" data-x-role="control:left 1 item">Left</button>

        <ul data-x-role="content">
            <li><img src="" /></li>
            <li><img src="" /></li>
            <li><img src="" /></li>
            <li><img src="" /></li>
            <li><img src="" /></li>
            <li><img src="" /></li>
            <li><img src="" /></li>
            <li><img src="" /></li>
            <li><img src="" /></li>
            <li><img src="" /></li>
            <li><img src="" /></li>
            <li><img src="" /></li>
            <li><img src="" /></li>
            <li><img src="" /></li>
            <li><img src="" /></li>
            <li><img src="" /></li>
            <li><img src="" /></li>
            <li><img src="" /></li>
            <li><img src="" /></li>
            <li><img src="" /></li>
            <li><img src="" /></li>
            <li><img src="" /></li>
            <li><img src="" /></li>
        </ul>

        <button class="right" data-x-role="control:right 1 item">Right</button>
    </div>
</div>
